
  /* initial state */
  #outerspace {
    position: relative;
    height: 100%;
    width:100%;
    background: #0c0440 url(outerspace.jpg);
    color: #fff;
  }
  div.rocket {
    border:hidden;
    position: absolute;
    bottom: 10px;
    left: 20px;
    -webkit-transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -o-transition: 3s ease-in;
    transition: 3s ease-in;
  }
  div.rocket div {
    width: 92px;
    height: 215px;
    background: url(rocket.gif) no-repeat;
    -webkit-transition: 4s ease-in-out;
    -moz-transition: 4s ease-in-out;
    -o-transition: 4s ease-in-out;
    transition: 4s ease-in-out;
  }

  /* hover final state transformed 2D wise*/
  #outerspace:hover div.rocket {
    -webkit-transform: translate(1200px,-340px);
    -moz-transform: translate(1200px,-340px);
    -o-transform: translate(1200px,-340px);
    -ms-transform: translate(1200px,-340px);
    transform: translate(1200px,-340px);
  }
  /*rotatiion about div axix*/
  #outerspace:hover div.rocket div {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
  }